// Fonts
$fontDefault: brandon;
$titlePrinces: 80px;

// Background
$bgBox: #FFF;
$bgPrinces: #a13f80;
$bgPrincesLarge: #83ca8e;
$bgButtonLess: #a13f80;
$bgButtonLarger: #83ca8e;

// Color
$colorPrimaryBox: #FFF;
$colorCategories: #efecbf;
$colorSymbolsLess: #360827;
$colorSymbolsLarger: #5a9b64;
$colorOptionsItem: #917989;
$colorBeforeItem: #a13f80;

$WidthMain: 900px;